@use "partials/variables" as *;
@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css"; 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1f1e38;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style-type: none;
}

.btn{
    display: inline-block;
    margin-top: 33px;
    padding: .8rem 2rem;
    transition-duration: .5s;
    border: 3px solid transparent;
}

.btn:hover{
    border: 3px solid  $border-btn;
}

.green-btn{
    background-color: #39ffbf;
}

.red-btn{
    background-color: #f00e2e;
}

.grey-btn{
    background-color: #1f1e38;
}

.pseudo::before{
    background-color: #39ffbf;
}

.pseudo::after{
    background-color: #39ffbf;
}